body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: medium;
}
main{
    border-bottom:1px solid #ccc;
    border-color: #fff;
    text-align: center;
    border: 0px;
}

footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    border-top: 1px solid white;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid white;
    background-color:white;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background:fixed;
    color:#fff;
}

.gu:hover{transform: scale(1.3,1.3); /*画像の拡大*/
           cursor: pointer;}
.cho:hover{transform: scale(1.3,1.3); /*画像の拡大*/
            cursor: pointer;}
.pa:hover{transform: scale(1.3,1.3); /*画像の拡大*/
            cursor: pointer;}         
.woody:hover{transform: scale(1.2,1.2); /*画像の拡大*/
            cursor: pointer;}        
.buzz:hover{transform: scale(1.2,1.2); /*画像の拡大*/
            cursor: pointer;}        
.woodyorbuzz{padding-top:20px;}
.akuyaku{padding-bottom:20px;}

.table{margin: auto;}